
  @import url('https://fonts.googleapis.com/css2?family=Croissant+One&family=Dancing+Script&family=Fredericka+the+Great&family=Lobster&family=Rancho&family=Roboto+Condensed&family=Skranji&family=Teko:wght@300&display=swap');

@media(min-width: 990px){
    .mm1{
        font-size: 4.5rem;
    }
    .mm2{
        font-size: 2rem;
    }
    
}
@media(max-width: 990px){
    
    .mm2{
        font-size: 1rem;
    }
    
}

.mm1{
    color: rgba(55, 70, 41, 0.854);
    text-align: center;
}
.mm2{
    color: rgba(42, 77, 65, 0.886);
    text-align: center;
}
.pw1{
    border-color:rgb(34,193,195);
}
.ppil1{
    font-size: large;
}
h1,h2,h3,h4,h5{
    font-family: teko;
    font-weight: bolder;
}